---
http_interactions:
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts
    body:
      encoding: UTF-8
      string: '{"name":"account-"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - BMYEVBL5PuK5Ylyb
      Cb-Access-Sign:
      - 45c8f354d14d3b426335f3dd7a2a75a14f4cec1c8323dda50adb8b11cd7801b8
      Cb-Access-Timestamp:
      - '1492788874'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"b93309d1ae647b636d0447bd3fd408e2"
      Location:
      - "/v2/accounts/19cc04b9-6c06-5575-83ca-f94937de895e"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"19cc04b9-6c06-5575-83ca-f94937de895e","name":"account-","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-04-21T15:34:35Z","updated_at":"2017-04-21T15:34:35Z","resource":"account","resource_path":"/v2/accounts/19cc04b9-6c06-5575-83ca-f94937de895e"}}'
  recorded_at: Fri, 21 Apr 2017 15:34:35 GMT
recorded_with: VCR 2.9.3
