---
http_interactions:
- request:
    method: get
    uri: https://api.reddit.com/r/bitcoin/new
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=Nw%2FTT5AsKbnqJXTETuOriyCN7x1J9P00tDiu0e5CuI1KsGCDOl1D5y7efEKTU12dkE%2BLy0tkarE%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "banned_by": null, "media_embed": {}, "subreddit":
        "Bitcoin", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;something
        something bug ? TLDR plz ? &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
        "selftext": "something something bug ? TLDR plz ? ", "likes": null, "suggested_sort":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "63sdp4", "gilded": 0, "secure_media_embed": {}, "clicked": false, "score":
        1, "report_reasons": null, "author": "turbotyler786", "saved": false, "mod_reports":
        [], "name": "t3_63sdp4", "subreddit_name_prefixed": "r/Bitcoin", "approved_by":
        null, "over_18": false, "domain": "self.Bitcoin", "hidden": false, "thumbnail":
        "self", "subreddit_id": "t5_2s3qj", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "brand_safe": true, "archived":
        false, "removal_reason": null, "is_self": true, "hide_score": true, "spoiler":
        false, "permalink": "/r/Bitcoin/comments/63sdp4/so_what_happened_with_asicboost_last_night/",
        "num_reports": null, "locked": false, "stickied": false, "created": 1491507677.0,
        "url": "https://www.reddit.com/r/Bitcoin/comments/63sdp4/so_what_happened_with_asicboost_last_night/",
        "author_flair_text": null, "quarantine": false, "title": "so, what happened
        with ASICBOOST last night ?", "created_utc": 1491478877.0, "distinguished":
        null, "media": null, "num_comments": 0, "visited": false, "subreddit_type":
        "public", "ups": 1}}, {"kind": "t3", "data": {"contest_mode": false, "banned_by":
        null, "media_embed": {}, "subreddit": "Bitcoin", "selftext_html": null, "selftext":
        "", "likes": null, "suggested_sort": null, "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "63sdce", "gilded": 0, "secure_media_embed":
        {}, "clicked": false, "score": 2, "report_reasons": null, "author": "Lukovka",
        "saved": false, "mod_reports": [], "name": "t3_63sdce", "subreddit_name_prefixed":
        "r/Bitcoin", "approved_by": null, "over_18": false, "domain": "btc-times.com",
        "hidden": false, "preview": {"images": [{"source": {"url": "https://i.redditmedia.com/kgp1u1_f3Aa0LQtRSirdDxREtKAmqava5_9Gf38Zkw0.jpg?s=144c58086097cef2b2753258236e0ac3",
        "width": 500, "height": 372}, "resolutions": [{"url": "https://i.redditmedia.com/kgp1u1_f3Aa0LQtRSirdDxREtKAmqava5_9Gf38Zkw0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=9e488cfe17371211356be78c433fe803",
        "width": 108, "height": 80}, {"url": "https://i.redditmedia.com/kgp1u1_f3Aa0LQtRSirdDxREtKAmqava5_9Gf38Zkw0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=5f78cd3c81735f6a5309085c182345e6",
        "width": 216, "height": 160}, {"url": "https://i.redditmedia.com/kgp1u1_f3Aa0LQtRSirdDxREtKAmqava5_9Gf38Zkw0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=2c91f65ffce31db524c3ba2c16b40237",
        "width": 320, "height": 238}], "variants": {}, "id": "xfWgA4HRdKl5EX467TouCLn01VIErL994x9GAMMtu24"}],
        "enabled": false}, "thumbnail": "https://b.thumbs.redditmedia.com/ks8JeYhI7EkgKGcZobIbfTmC0nCg_ctPn9MH0qgI3Ok.jpg",
        "subreddit_id": "t5_2s3qj", "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 0, "brand_safe": true, "archived":
        false, "removal_reason": null, "post_hint": "link", "is_self": false, "hide_score":
        true, "spoiler": false, "permalink": "/r/Bitcoin/comments/63sdce/dtcc_to_become_the_lord_of_the_blockchain/",
        "num_reports": null, "locked": false, "stickied": false, "created": 1491507550.0,
        "url": "http://btc-times.com/dtcc-to-become-the-lord-of-the-blockchain/",
        "author_flair_text": null, "quarantine": false, "title": "DTCC to Become the
        Lord of the Blockchain", "created_utc": 1491478750.0, "distinguished": null,[...]
