---
http_interactions:
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/hot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=cW1rk7JoXECwr%2B84UOBo7Le%2FnxPZso7zmQNVvflrM1hDWgD3VDfraAOEK0upkI7bmLcyBJsLgFQ%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "banned_by": null, "media_embed": {}, "subreddit":
        "Bitcoin", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;h1&gt;Welcome
        to the &lt;a href=\"/r/Bitcoin\"&gt;/r/Bitcoin&lt;/a&gt; Sticky FAQ&lt;/h1&gt;\n\n&lt;p&gt;You&amp;#39;ve
        probably been hearing a lot about Bitcoin recently and are wondering what&amp;#39;s
        the big deal?  Most of your questions should be answered by the resources
        below but if you have additional questions feel free to ask them in the comments.  &lt;/p&gt;\n\n&lt;p&gt;The
        following videos are [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/61s75o
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=0XGMXzdFme0e0HgX7cYy2nlEv5hnIsM5s7zOFrExXl3orN2LWyy7UaI2oeH%2FtHOEUrosgWIQTtY%3D
      X-Moose:
      - majestic
    body:
      enc[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64zb86
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=qFPrZauY1GYa6nespqn1Vqu8OTKL3Z4INGxF7C%2FRxtHBmExWWekCgE3xTmyxrdeuvi5h0pueEr0%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"modhash": "", "children": [{"kind":
        "t3", "data": {"contest_mode": false, "banned_by": null, "media_embed": {},
        "subreddit": "Bitcoin", "selftext_html": null, "selftext": "", "likes": null,
        "suggested_sort": null, "user_reports": [], "secure_media": null, "saved":
        false, "id": "64zb86", "gilded": 0, "secure_media_embed": {}, "clicked": false,
        "score": 205, "report_reasons": null, "author": "tasmannn", "link_flair_text":
        null, "subreddit_name_prefixed": "r/Bitcoin", "approved_by": null, "over_18":
        false, "domain": "twitter.com", "hidden": false, "preview": {"images": [{"source":
        {"url": "https://i.redditmedia.com/4ButIZC0kAjX5Y0J7M6qPyrSitcbbNs97dmTCS-xJXw.jpg?s=e9af50340d88034bc163ea2637ee8ea1",
        "width": 400, "height": 400}, "resolutions": [{"url": "https://i.redditmedia.com/4ButIZC0kAjX5Y0J7M6qPyrSitcbbNs97dmTCS-xJXw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=778545fdf8e29eb2cf0c47d0c3694e7e",
        "width": 108, "height": 108}, {"url": "https://i.redditmedia.com/4ButIZC0kAjX5Y0J7M6qPyrSitcbbNs97dmTCS-xJXw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=f81156bde09f93b23f9cfce14cc9ff86",
        "width": 216, "height": 216}, {"url": "https://i.redditmedia.com/4ButIZC0kAjX5Y0J7M6qPyrSitcbbNs97dmTCS-xJXw.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=01016e64884a6998dc896a69da339c3f",
        "width": 320, "height": 320}], "variants": {}, "id": "zKo08ykVEnvXaK9SbocOK-Mh_yjtYr96fHwN3EEhTYA"}],
        "enabled": false}, "num_comments": 33, "thumbnail": "https://b.thumbs.redditmedia.com/7Ce2i84i3M4qOj4YBXlibtdcEWdHZNj7nN_krHyOx4E.jpg",
        "subreddit_id": "t5_2s3qj", "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 0, "brand_safe": true, "archived":
        false, "removal_reason": null, "post_hint": "link", "stickied": false, "is_self":
        false, "hide_score": false, "spoiler": false, "permalink": "/r/Bitcoin/comments/64zb86/charlie_lee_segwit_will_activate_2_weeks_after_it/",
        "subreddit_type": "public", "locked": false, "name": "t3_64zb86", "created":
        1492044058.0, "url": "https://twitter.com/SatoshiLite/status/852189389400662016",
        "author_flair_text": null, "quarantine": false, "title": "Charlie Lee: SegWit
        will activate 2 weeks after it locks in. If all goes well, we will have SegWit
        activated on Litecoin in 30 days! \ud83d\ude01\ud83d\udca5", "created_utc":
        1492015258.0, "ups": 205, "media": null, "upvote_ratio": 0.87, "mod_reports":
        [], "visited": false, "num_reports": null, "distinguished": null}}], "after":
        null, "before": null}}, {"kind": "Listing", "data": {"modhash": "", "children":
        [{"kind": "t1", "data": {"subreddit_id": "t5_2s3qj", "banned_by": null, "removal_reason":
        null, "link_id": "t3_64zb86", "likes": null, "replies": {"kind": "Listing",
        "data": {"modhash": "", "children": [{"kind": "t1", "data": {"subreddit_id":
        "t5_2s3qj", "banned_by": null, "removal_reason": null, "link_id": "t3_64zb86",
        "likes": null, "replies": "", "user_reports": [], "saved": false, "id": "dg6hmto",
        "gilded": 0, "archived": false, "score": 1, "report_reasons": null, "author":
        "2cool2fish", "parent_id": "t1_dg66obb", "subreddit_name_prefixed": "r/Bitcoin",
        "approved_by": null, "controversiality": 0, "body": "Things are really coming
        to a head.  Bitcoin the fungible, inexpensive, programmable, extendable protocol
        will now have good attractive investment options as competition for users
        holders and applications providers.  Mr. Wu is in an interesting spot.  I
        think we will soon find out who he serves.", "edited": false, "author_flair_css_class":
        null, "downs": 0, "body_html": "&lt;div class=\"md\"&gt;&lt;p&gt;Things are
        really coming to a head.  Bitcoin the fungible, inexpensive, programmable,
        extendable protocol will now have good attractive investment options as competition
        for users holders and applications providers.  Mr. Wu is in an interesting
        spot.  I think we will soon find out who he serves.&lt;/p&gt;\n&lt;/div&gt;",
        "stickied": false, "subreddit": "Bitcoin", "score_hidden": true, "subreddit_type":
        "public", "name": "t1_dg6hmto", "created": 1492057191.0, "author_flair_text":
        null, "created_utc": 1492028391.0, "ups": 1, "depth": 1, "mod_reports": [],
        "num_reports": null, "distinguished": null}}, {"kind": "t1", "data": {"subreddit_id":
        "t5_2s3qj", "banned_by": null, "removal_reason": null, "link_id": "t3_64zb86",
        "likes": null, "replies": {"kind": "Listing", "data": {"modhash": "", "children":
        [{"kind": "t1", "data": {"subreddit_id": "t5_2s3qj", "banned_by": null, "removal_reason":
        null, "link_id": "t3_64zb86", "likes": null, "replies": "", "user_reports":
        [], "saved": fal[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64xvge
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=E92E4%2FREeN%2BLMZCSBaTX1wP75Hxsd%2BWy35Mi12GNPD0yCOvjLXf5gyjDUjxtXLzry8trVMgJEgg%3D
      X-Moose:
      - majestic
    body:
     [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/650q3m
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=N399uN%2BJ3A%2FBrfxXoQ6S4gT8T2K5xsKtpGfmg7C4xomYYzZGmfx%2BriZmv%2BDe935XsOwyMt%2BOmx0%3D
      X-Moose:
      - majestic
    body:
 [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64ys46
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=GoMc871HzoSnwo0%2Bihi0c%2BMskykfuj3WlSa4Xhrrkb8BbgCE%2FY6XX4b8VisMxxkoRa0%2BdfycVfk%3D
      X-Moose:
      - majestic
    body:
   [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64zbw0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=q%2BOIJ7yQ6ba5vGj96u52Cu65BYCgeANa2VBxCUMPGe1%2B7YXHUOtYgaVHOfBDWuxZKL2JReM8qh0%3D
      X-Moose:
      - majestic
    body:
      e[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64ydsv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=uISqiz7gpJsOGnGirDwd39Hll8Hhu8PAIjjp6YTN%2FZnQo4Yw48YsoqwLaRk61fHEbkJQY17b4rQ%3D
      X-Moose:
      - majestic
    body:
      enc[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64yui1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=SCchg07G7H8xaZUoqpjz2GRI8cS6d7wb6gPYCzcZePXavvFZGR%2Buq7aZbQub7VgBggsDlSMizg8%3D
      X-Moose:
      - majestic
    body:
      enc[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64zfna
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=WYO6ffwEW5mKh58Rd7mi9I4LdWSqDIltw2cBzPvmfbTvQAtOQpq707cAwvR0RCfrnLAH0gcCT3s%3D
      X-Moose:
      - majestic
    body:
      encod[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64yb8k
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=PTQ8Dx5f13uZE%2FEtNPIe9rRecEmP0UVN2KUTsKMG79XhBxsTWiFC9P%2BdAKj8S%2Fng5%2Ftj%2BLLnYk0%3D
      X-Moose:
      - majestic
    body:
 [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64zd3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=igqcdRbqgvtuTNeAnlIvED0npu%2BR8OWID5vhYJMO0QgsQ8E3vYuuRSZxbWNCPJ6qZM5POH8a41Y%3D
      X-Moose:
      - majestic
    body:
      enc[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64y40u
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=DJrZ5HyHvC2TFwCYc8JrDh7lVkN1X8NcjwDkfsBuB7fAOlcYtxraq%2FtK7LbkH6BUeAZesIoALpo%3D
      X-Moose:
      - majestic
    body:
      enc[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/650jmo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=TtS036eRV%2F8KMvaDXduE0NAuXsXw8%2Fyz%2B8cDKwTME%2F1%2FTieVEtSEpvN2tTVjQcKB3%2BndFYPTeyg%3D
      X-Moose:
      - majestic
    body:[...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64youa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=hr8etJcXX5%2FVChUszkYChlfQyXdf5vpIp5RUIsMTRVId632o19lR%2FjKukdJAEwyRZGH%2BA38PuoQ%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"modhash": "", "children": [{"kind":
        "t3", "data": {"contest_mode": false, "banned_by": null, "media_embed": {},
        "subreddit": "Bitcoin", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;CoinGate
        as a Bitcoin payments company now officially supports SegWit and UASF, and
        does not support Emergent Consensus.&lt;/p&gt;\n\n&lt;p&gt;Read full statement
        here: &lt;/p&gt;\n\n&lt;p&gt;&lt;a href=\"https://blog.coingate.com/2017/04/coingate-supports-segwit-and-uasf/\"&gt;https://blog.coingate.com/2017/04/coingate-supports-segwit-and-uasf/&lt;/a&gt;&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "selftext": "CoinGate as a Bitcoin payments company now officially
        supports SegWit and UASF, and does not support Emergent Consensus.\n\nRead
        full statement here: \n\nhttps://blog.coingate.com/2017/04/coingate-supports-segwit-and-uasf/",
  [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64ypvp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=85SuH9ysnZURyWebNd2hfbzrdGAh2n9nH1kzt7pCQI8OU%2FoJulcXtmOQC%2F%2BhH5wEpl1JOJ2ZTEc%3D
      X-Moose:
      - majestic
    body:
     [...]
- request:
    method: get
    uri: https://api.reddit.com//r/bitcoin/comments/64xb30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=Hp34IJp1AqaCu9nxwHjiKI8Y1KweCeas1IWGmzx4WGqrtFnTEh6BNjwA4FuV660lZvoz275H%2BCo%3D
      X-Moose:
      - majestic
    body:
      enc[...]
