---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/01bfeb0c-a24a-5dd2-b072-c82b11bbae3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - BMYEVBL5PuK5Ylyb
      Cb-Access-Sign:
      - a392eecba7b09c0d0dd4ef84ba83e2e90b14ef2a1bd25eef17f4149a3eeaf3b9
      Cb-Access-Timestamp:
      - '1493214642'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"dc29b53668c1fe9cc98d349eaace2353"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"01bfeb0c-a24a-5dd2-b072-c82b11bbae3e","name":"1493179320","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-04-26T04:02:00Z","updated_at":"2017-04-26T04:02:01Z","resource":"account","resource_path":"/v2/accounts/01bfeb0c-a24a-5dd2-b072-c82b11bbae3e"}}'
  recorded_at: Wed, 26 Apr 2017 13:50:43 GMT
recorded_with: VCR 2.9.3
