---
http_interactions:
- request:
    method: get
    uri: https://winkdex.com/api/v0/price
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - W/"3022905bcfeccbacf0f680ab5d7e11cd"
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2017-04-03T01:38:00Z","price":111708,"_links":{"self":{"href":"/api/v0/price"}}}'
  recorded_at: Mon, 03 Apr 2017 01:42:58 GMT
recorded_with: VCR 2.9.3
