<div class="footer">
  Data Provided by <a href="https://winkdex.com/" target="_blank">WinkDex</a> -
  API provided by <a href="https://coinbase.com/" target="_blank">CoinBase</a> -
  Copyright YayBTC <%= Time.now.year %>
</div>
