<% if user_signed_in? && @current_user && !@current_user.auto_buy_sell_enabled? %>
  <div class="buy-sell alert alert-danger">
    Auto Buy/Sell is disabled for this account. You can add BTC to the wallet but it will not execute any buy/sell orders.
  </div>

  <br />
<% elsif user_signed_in? && @user && @user.auto_buy_sell_enabled? %>
  <div class="buy-sell alert alert-success">
    Auto Buy/Sell is enabled for this account. This app will execute buy/sell orders based on current trends.
  </div>
  <br />
<% end %>

<nav class="navbar navbar-light bg-faded">
  <%= link_to("Yay! BTC...", root_path, class: "navbar-brand") %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? && @current_user %>
        <li class="nav-item">Hello, <%= @current_user.name %></li>
        <li class="nav-item"><%= link_to("#{@current_user.auto_buy_sell_enabled? ? 'Disable' : 'Enable'} auto buy/sell", "#", id: "toggle-link", class: "nav-link") %></li>
      <% end %>
    </ul>
  </div>
</nav>
