<table>
  <tr>
    <td>Wallet Address</td>
    <td>
      <strong><%= @user.wallet_address %></strong>
    </td>
    <td><em>&larr; Send BTC to this address <%= !@user.auto_buy_sell_enabled? ? " and enable auto-trading to get started" : " to get started" %></em></td>
  </tr>
  <tr>
    <td>Current BTC value</td>
    <td><%= number_with_precision(@user.wallet_btc, precision: 10) %></td>
    <td></td>
  </tr>
  <tr>
    <td>Current USD value</td>
    <td><%= number_to_currency(@user.wallet_usd) %></td>
    <td></td>
  </tr>
</table>
