<h1>Terms Of Service</h1>

<p><strong>This application is a big experiment and the algorithm that determines a buy or sell is not very sophisticated. Use at your own risk. I am not responsible for lost or stolen Bitcoins or anything bad that happens to you as a result of your interactions with this site.</strong></p>

<p>Use at your own risk!!</p>

<p>You can't sue me!!</p>
